
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <h4 class="page-title">商品一覧</h4>
        <span class="col-7"></span>
        <%= link_to new_admin_item_path, class: "", style: " height: 40px; width: 40px;", method: :get do %>
          <i class="fa-solid fa-circle-plus" style="font-size: 40px; color: #DDD;"></i>
        <% end %>
      </div>
      <table class="table">
        <thead class="thead-color">
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税込価格</th>
            <th></th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td>
              <%= link_to admin_item_path(item.id), class: '', method: :get do %>
                <%= item.name %>
              <% end %>
            </td>
            <td><%= item.price %></td>
            <td></td>
            <td>
              <% if item.is_active == true %>
                <div class="text-success font-weight-bold">販売中</div>
              <% else %>
                <div class="text-secondary font-weight-bold">販売停止中</div>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="p-top__paginate">
        <%= paginate @items %>
      </div>
    </div>
  </div>
</div>