<div class="container">
  <div class="">

    <h4 class="ta-left">商品新規登録</h4>

    <div>
      <%= form_with model: @item do |f| %>

        <div class="row">
          <h5 class="col-sm-4">商品画像</h5>
          <div class="col-sm-8">
            <label class="input">
              <%= f.file_field :image, class: "", accept: "image/*" %>
            </label>
          </div>
        </div>

        <div class="row">
          <h5 class="col-sm-4">商品名</h5>
          <div class="col-sm-8">
            <%= f.text_field :name %>
          </div>
        </div>

        <div class="row">
          <h5 class="col-sm-4">商品説明</h5>
          <div class="col-sm-8">
            <%= f.text_area :introduction %>
          </div>
        </div>

        <div class="row">
          <h5 class="col-sm-4">税抜価格</h5>
          <div class="col-sm-8">
            <%= f.number_field :price %>
          </div>
        </div>

        <div class="row">
          <h5 class="col-sm-4">販売ステータス</h5>
          <div class="col-sm-8">
            <%= f.radio_button :is_active, :true %>
            <%= f.label :is_active, '販売中' %>
            <%= f.radio_button :is_active, :false %>
            <%= f.label :is_active, '販売停止中' %>
          </div>
        </div>
        </br><%= f.submit '新規登録' %>

    <% end %>
    </div>
  </div>
</div>