<h4 class="page-title">
  <%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細
</h4>

<div class="container">
  <div class="row customer-date">
    <div class="data-title col-md-4">会員ID</div>
    <div class="data-item col-md-8">
      <%= @customer.id %>
    </div>
  </div>

  <%= form_with model: @customer, url: admin_customer_path(@customer.id), method: :patch do |f| %>

    <div class="row customer-date">
      <div class="data-title col-md-4">氏名</div>
      <div class="data-field col-md-4">
        <%= f.text_field :last_name, class: "form-control", placeholder: "田中" %>
      </div>
      <div class="data-field col-md-4">
        <%= f.text_field :first_name, class: "form-control", placeholder: "太郎" %>
      </div>
    </div>

    <div class="row customer-date">
      <div class="data-title col-md-4">フリガナ</div>
      <div class="data-field col-md-4">
        <%= f.text_field :last_name_kana, class: "form-control", placeholder: "タナカ" %>
      </div>
      <div class="data-field col-md-4">
        <%= f.text_field :first_name_kana, class: "form-control", placeholder: "タロウ" %>
      </div>
    </div>

    <div class="row customer-date">
      <div class="data-title col-md-4">郵便番号</div>
      <div class="data-field col-md-4">
        <%= f.number_field :postal_code, class: "form-control", placeholder: "1234567(ハイフン不要)" %>
      </div>
    </div>

    <div class="row customer-date">
      <div class="data-title col-md-4">住所</div>
      <div class="data-field col-md-4">
        <%= f.text_field :address, class: "form-control" %>
      </div>
    </div>

    <div class="row customer-date">
      <div class="data-title col-md-4">電話番号</div>
      <div class="data-field col-md-4">
        <%= f.number_field :postal_code, class: "form-control", placeholder: "1234567890(ハイフン不要)" %>
      </div>
    </div>

    <div class="row customer-date">
      <div class="data-title col-md-4">メールアドレス</div>
      <div class="data-field col-md-4">
        <%= f.text_field :email, class: "form-control", placeholder: "sample@email.address" %>
      </div>
    </div>

    <div class="row customer-date">
      <div class="data-title col-md-4">会員ステータス</div>
      <div class="data-field col-md-4">
        <%= f.radio_button :is_deleted, :false %>
        <%= f.label :is_deleted, '有効' %>
        <%= f.radio_button :is_deleted, :true %>
        <%= f.label :is_deleted, '退会' %>
      </div>
    </div>

    <div class="row">
      <span class="col-md-4"></span>
      <%= f.submit '変更を保存', class: 'btn btn-success btn-sm', style: "min-width: 120px;" %>
    </div>


  <% end %>

</div>