<h4 class="page-title" style="margin-left: 0;">
  <%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細
</h4>

<div class="container">

  <div class="row customer-date">
    <div class="data-title col-md-4">会員ID</div>
    <div class="data-item col-md-8">
      <%= @customer.id %>
    </div>
  </div>

  <div class="row customer-date">
    <div class="data-title col-md-4">氏名</div>
    <div class="data-item col-md-8">
      <%= @customer.last_name %>"　"<%= @customer.first_name %>
    </div>
  </div>

  <div class="row customer-date">
    <div class="data-title col-md-4">フリガナ</div>
    <div class="data-item col-md-8">
      <%= @customer.last_name_kana %>"　"<%= @customer.first_name_kana %>
    </div>
  </div>

  <div class="row customer-date">
    <div class="data-title col-md-4">郵便番号</div>
    <div class="data-item col-md-8">
      <%= @customer.postal_code %>
    </div>
  </div>

  <div class="row customer-date">
    <div class="data-title col-md-4">住所</div>
    <div class="data-item col-md-8">
      <%= @customer.address %>
    </div>
  </div>

  <div class="row customer-date">
    <div class="data-title col-md-4">電話番号</div>
    <div class="data-item col-md-8">
      <%= @customer.telephone_number %>
    </div>
  </div>

  <div class="row customer-date">
    <div class="data-title col-md-4">メールアドレス</div>
    <div class="data-item col-md-8">
      <%= @customer.email %>
    </div>
  </div>

  <div class="row customer-date">
    <div class="data-title col-md-4">会員ステータス</div>
    <div class="data-item col-md-8">
      <% if @customer.is_deleted == false %>
        <div class="text-success font-weight-bold">有効</div>
      <% else %>
        <div class="text-secondary font-weight-bold">退会</div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <span class="col-md-4"></span>
    <!--<button class="col-md-6">-->
      <%= link_to "編集する", edit_admin_customer_path(@customer.id), class: "btn btn-success", style: "margin-right: 40px;", method: :get %>
    <!--</button>-->
    <!--<button class="col-md-6">-->
      <%= link_to "注文履歴一覧を見る", admin_path, class: "btn btn-primary", style: "min-width: 200px;", method: :get %>
    <!--</button>-->
  </div>
</div>