<h4 class="page-title">注文履歴一覧</h4>

<table style="border: 1px solid black;">

  <thead style="border-bottom: 1px solid black; background-color: #EEE;">
    <tr>
      <th>注文日</th>
      <th>発送先</th>
      <th>注文商品</th>
      <th>支払金額</th>
      <th>ステータス</th>
      <th>注文詳細</th>
    </tr>
  </thead>

  <tbody>
  <% @orders.each do |order| %>
  <% @cart_items.each do |cart_item| %>
    <tr style="border-bottom: 1px solid black;">
      <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
      <td>
        〒<%= order.delivery_postal_code %></br>
        <%= order.delivery_address %></br>
        <%= order.delivery_name %>
      </td>
      <td><%= cart_item.item.name %></td>
      <td><%= order.total_payment.to_s(:delimited) %>円</td>
      <td><%= order.order_status_i18n %></td>
      <td>
        <%= link_to '表示する', order_path(current_customer.id), class: "btn btn-primary btn-sm" %>
      </td>
    </tr>
  <% end %>
  <% end %>
  </tbody>

</table>